absl-py==1.2.0
astor==0.8.1
backcall==0.2.0
certifi==2022.6.15
cloudpickle==2.1.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
dm-tree==0.1.7
gast==0.2.2
google-pasta==0.2.0
grpcio==1.47.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
pandas==1.1.5
tensorflow-probability==0.7.0
torch==1.10.2
matplotlib==3.3.4
scipy==1.5.4
